<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

</body>
</html>

<script>
    /*
    Javascript中的事件机制
    事件机制，在JS中感觉很容易让人接受，一个鼠标被按下时会发生一些事情，一个键盘的键被抬起时同样可以发生一些事情，这种比喻很容易让人接受，不是吗，呵呵。


    以下是我们在项目开发中常用到的事件，红色的为最常用的事件，呵呵
    onclick 鼠标点击某个对象
    ondblclick 鼠标双击某个对象
    onerror 当加载文档或图像时发生某个错误
    onfocus元素获得焦点
    onkeydown某个键盘的键被按下
    onkeypress某个键盘的键被按下或按住
    onkeyup某个键盘的键被松开
    onload某个页面或图像被完成加载
    onmousedown某个鼠标按键被按下
    onmousemove鼠标被移动
    onmouseout鼠标从某元素移开
    onmouseover鼠标被移到某元素之上
    onmouseup 某个鼠标按键被松开
    onselect 文本被选定
    onsubmit 提交按钮被点击
    onunload 用户退出页面

    事实上，使用纯JS去实现一些页面中的效果是没有问题的，
    但是在使用上确实不方便，
    所以目前出现了很多流行的，兼容性好的，
    使用方便的JS类库，如JQ，prototype,ExtJS等等！
    

    */
</script>